.pedido-detalhes {
  padding: 20px;
  margin: 20px 0;
}

.pedido-detalhes h1 {
  color: #333;
  margin-bottom: 15px;
}

.pedido-detalhes p {
  margin: 5px 0;
  color: #555;
}

.pedido-detalhes p strong {
  color: #333;
}

.pedido-not-found {
  color: red;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}

.pedido-section {
  border: 1px solid #37235D;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

.item {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 0.5px solid #37235D;
}

.pedido-parcelas {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 0.5px solid #37235D;
}
