.nota-row {
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.nota-row:hover {
  background-color: #ececec;
}

.nota-row-link {
  color: #337ab7;
  text-decoration: none;
}

.nota-row-link:hover {
  text-decoration: underline;
}
